<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <h1>{{home_data}}</h1>
    <p>{{data}} </p>
    <a href="/about">about</a>
  </body>
  <footer>todays footer date 2021</footer>
  {{> footer}}
</html>
